.Toolbar {
  height: 55px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  /* background-color: #703b09; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  box-sizing: border-box;
  z-index: 100;
}

.Toolbar nav {
  height: 100%;
}

.Logo {
  height: 80%;
}

@media (max-width: 768px) {
  .DesktopOnly {
    display: none;
  }
}
