.SideDrawer {
  position: fixed;
  width: 60%;
  max-width: 70%;
  height: 100vh;
  right: 0;
  top: 0;
  z-index: 3000;
  background-color: white;
  /* background-color: #C89DEF; */
  padding: 12px 16px;
  box-sizing: border-box;
  transition: transform 0.3s ease-out;
}

@media (max-width: 768px) {
  .SideDrawer {
    width: 90%;
  }
}

@media (min-width: 768) {
  .SideDrawer {
    display: none;
  }
}

.Open {
  transform: translateX(0%);
}

.Close {
  transform: translateX(150%);
}

.Logo {
  height: 8%;
  width: 50%;
  margin: auto;
  text-align: center;
  margin-bottom: 32px;
}
